[submodule "source/thirdparty/dr_libs"]
	path = source/thirdparty/dr_libs
	url = https://github.com/mackron/dr_libs
[submodule "source/thirdparty/lodepng"]
	path = source/thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng
